.bg-topo {
  width: 100%;
  height: 20px;
  background-color: #F2F2F2;
  float: right;
}
.bg-topo li {
  display: inline;
  float: right;
  padding-right: 15px;
}
.login, .sign-up {
  margin: 30px auto;
  width: 250px;
  height: 200px;
}
.menu {
  width: 100%;
  height: 50px;
  background-color: #035E77;
  margin-top: 10px;
}
.menu ul {
  padding: 15px;
}
.menu li {
  display: inline;
  padding-right: 15px;
  color: white;
  font-size: 15px;
  font-weight: 900;
}
.menu li a {
  color: white;
}
.menu li a:hover {
  color: none;
}
.tipos-discos {
  width: 100%;
  height: 500px;
  background-color: #46AACE;
  margin: 10px 0px 0px 0px;
  padding: 10px;
}
.tipos-discos ul {
  list-style: none;
  padding: 0px;
  margin: 10px;
}
.thumbnail {
  width: 270px;
}
.thumbnail img {
  width: 100%;
  height: 250px;
}
.discos-novos {
  width: 100%;
  height: 20px;
  margin: 10px 0px 0px 0px;
  background-color: white;
  color: #035E77;
  font-weight: 900;
  padding: 5px 0px 23px 7px;
}

.discos-seminovos {
  width: 100%;
  height: 20px;
  margin: 10px 0px 0px 0px;
  background-color: white;
  color: #035E77;
  font-weight: 900;
  padding: 5px 0px 23px 7px;
}
.produtos {
  width: 100%;
  min-height: 600px;
  margin: 10px 0px 0px 0px;
  overflow: auto;
}
.apple_pagination {
  margin-bottom: 20px;
}
.image-responsive img {
  width: 540px;
  height: 612px;
}
.dist-detalhes {
  background-color: #F2F2F2;
  height: 300px;
  margin-bottom: 20px;
}
.nome-autor {
  font-size: 40px;
  margin: 25px 0px  20px 10px;
}
.preco-home {
  font-weight: 900;
  color: #46AACE;
}
.preco {
  font-weight: 900;
  padding: 0px 0px 0px 20px;
  font-size: 70px;
  color: #46AACE;
}
.ano {
  font-weight: 900;
  padding: 0px 0px 0px 20px;
  font-size: 30px;
}
.conservacao {
  font-weight: 900;
  padding: 10px 0px 0px 20px;
  font-size: 20px;
}
.dispon {
  font-weight: 900;
  padding: 10px 0px 0px 20px;
  font-size: 20px;
}
.endereco {
  padding: 10px 0px 0px 20px;
  font-size: 20px;
}
.posicao-bt {
  padding: 30px 0px 0px 20px;
  font-size: 20px;
}
.espacamento {
  margin-bottom: 20px;
}
.foto-disco {
    margin-top: 20px;
    width: 100%;
    height: 150px;
    border: 1px solid silver;
}
.footer {
  width: 100%;
  height: 150px;
  color: white;
  background-color: #035E77;
  overflow: auto;
  margin-bottom: 10px;
}
.menu-remissivo {
  margin-top: 10px;
}
.menu-remissivo ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.menu-remissivo li a {
  color: white;
  border-bottom: 1px solid white;
}
